{{ define "main" }}

    <div class='container'>

        <h1>{{ .Title }}</h1>
        {{ .Content }}

        <div class='posts'>

            {{ $paginator := .Paginate (where .Data.Pages "Type" "news") }}
            {{ range $paginator.Pages }}

            <div class='col-lg-4 col-md-6 list-item'>

                <!-- <img src="{{ .Params.image }}" alt="{{ .Params.alt | default .Params.title }}" class="img-thumbnail list-image"/> -->

                <div class='featured-image img-thumbnail'>
                    <div class='background-image' style='background-image: url({{ .Params.image }})'>
                </div>
            </div>
                <!-- <img src="{{ .Params.image }}" alt="{{ .Params.alt | default .Params.title }}" class="img-thumbnail list-image"/> -->


                <h2 class='list-title'><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

                <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                
                <div class='summary'>
                    {{ .Summary | truncate 190 }}

                    {{ if .Summary }}
                        <a href="{{ .RelPermalink }}">View full article→</a>
                    {{ end }}
                </div>

            </div>
            {{ end }}

        </div>

        <div style='clear: both;'></div>

        {{ template "_internal/pagination.html" . }}

    </div>

{{ end }}
