{{ define "main" }}

    <div class='container'>

        <h1>{{ .Title }}</h1>
        {{ .Content }}

        <div class='posts'>

            {{ $paginator := .Paginate (where .Data.Pages "Type" "news") }}
            {{ range $paginator.Pages }}

            <div class='col-lg-4 col-md-6'>

                <img src="{{ .Params.image }}" alt="{{ .Params.alt | default .Params.title }}" class="img-thumbnail"/>

                <div class='summary'>
                    <h2><a href="{{ .RelPermalink }}">{{ .Title }} ::: {{.Type}}</a></h2>

                    <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
                    <br />
                    {{ .Summary | truncate 120 }}

                    {{ if .Summary }}
                        <a href="{{ .RelPermalink }}">View full article →</a>
                    {{ end }}

                </div>

            </div>
            {{ end }}

        </div>

        <div style='clear: both;'></div>

        {{ template "_internal/pagination.html" . }}

    </div>

{{ end }}
