{{ define "main" }}

<div class='container' style="padding-top: 100px;">

    <h1>{{ .Title }}</h1>

    {{ partial "breadcrumb.html" . }}

    <p class="blog_meta">
        <span>{{ .Date.Format "January 2, 2006" }}</span>
    </p>

    <p class="col-lg-">
        <img  class="img-responsive img-thumbnail" src="{{ .Params.image }}" alt="{{ .Params.alt | default .Params.title }}" >
    </p>

    <p> {{ .Content }} </p>

    <hr />

    {{ partial "related-post.html" . }}


</div>

{{ end }}

