{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<br /><br />
<h2>Related content</h2>
<div class="row">
    {{ range . }}
    <div class='col-md-4'>
        <a  href="{{ .RelPermalink }}">
          <img class="img-responsive img-thumbnail" src="{{.Params.image}}" alt  ="">
        </a>
          <h3>{{ .Title }}</h3>
          {{ .Summary | truncate 190 }}
          {{ if .Summary }}
          <a href="{{ .RelPermalink }}">View full article→</a>
          {{ end }}

      </div>
    </li>

    {{ end }}
  </ul>
</div>
{{ end }}